.AnnouncementBar {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--Neutral-1000, #e6e7e9);
}

.AnnouncementBar .Container {
  display: flex;
  width: 76rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.AnnouncementBar .Container p {
  color: var(--Neutral-50, #121417);
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
}

.AnnouncementBar .Container button {
  border-radius: 15rem;
  border: 1px solid var(--Neutral-1000, #e6e7e9);
  background: var(--Neutral-1300, #f1f1f2);
  color: var(--Neutral-200, #363c46);
  text-align: center;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
}
